<div class="flexbox">
  <div *ngIf="movies==null" class="loading"></div>
  <div *ngFor="let movie of movies" class="movie-container">
    <div class="movie-poster">
      <a [routerLink]="[movie.id]">
        <img src="assets/images/posters/{{movie.posterUrl}}" alt="{{movie.title}}">
      </a>
    </div>
    <div class="movie-rating">
      <span class="star">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="#f5c518"><path
          d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg>
        {{movie.rating | number: '1.1-1'}}
      </span>
    </div>
    <div class="movie-name">
      <a [routerLink]="[movie.id]">{{movie.title}}</a>
    </div>
    <div class="movie-trailer">
      <a href="{{movie.trailerUrl}}" target="_blank">
        <div>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18a1 1 0 0 0 0-1.69L9.54 5.98A.998.998 0 0 0 8 6.82z"></path>
          </svg>
          <div class="movie-trailer-text">Trailer</div>
        </div>
      </a>
    </div>
  </div>
</div>
